/*Шапка сайта--------------------------------------------------------*/
.head {
    position: relative;
    color: white;
    text-align: center;
    font-size: 30px;
    line-height: 100px;
    background-color: black;
    height: 100px;
    width:auto;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: -10px;
    border: 3px solid rgb(21, 21, 21);
    border-bottom: 3px solid rgb(21, 21, 21);
    border-radius: 10px 50px 10px 50px;
    top: 30px;
    z-index: 2;
}

#head {
    top: -28px;
    letter-spacing: 10px;
    color: white;
}


/*Кнопки---------------------------------------------------------------*/
.list {
    position: relative;
    display: block;
    color: white;
    top: 90px;
    left: 50px;
    z-index: 4;
}

.listing {
    position: relative;
    display: inline;
    background-color: rgb(60, 92, 137);
    border: 2px solid rgb(3, 0, 41);
    border-radius: 5px;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.listing:hover {
    background-color: rgba(0, 37, 100, 0.809);
    color: white;
    cursor: pointer;
}

.Lobby {
    position: relative;
    display: inline;
    background-color: rgb(68, 48, 179);
    border: 2px solid rgb(3, 0, 41);;
    border-radius: 5px;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.Lobby:hover {
    background-color: rgba(31, 23, 117, 0.698);
    color: white;
    cursor: pointer;
}

a {
    color: white;
    text-decoration: none;
}

#l1 {
    left: 60px;
}

#l2 {
    left: 120px;
}

#l3 {
    left: 180px;
}

#l4 {
    left: 240px;
}

.space_list {
    left: 40px;
}


/*Фон----------------------------------------------------------------------------*/
.first {
    position: absolute;
    background-image: url('https://i.ytimg.com/vi/sP9BQyF51vo/maxresdefault.jpg') ;
    min-height: 265vmax /*3410px*/;
    min-width: 166vw /*1395px*/;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: -10px;
    margin-top: -210px;
    z-index: 0;
}


/*Текст, фотки и прочее-----------------------------------------------------------*/
.second {
    position: relative;
    color: whitesmoke;
    background-color: rgb(42, 58, 73);
    height: 2500px;
    margin-left: 35px;
    margin-right: 35px;
    border: 3px solid rgb(21, 21, 21);
    border-bottom: 3px solid rgb(21, 21, 21);
    border-radius: 5px 70px 5px 70px;
    top: 150px;
    padding: 10px;
    z-index: 1;
    
}

p {
    position: relative;
    top: 20px;
    left: 10px;
    letter-spacing: 1.7px;
}

.teale_text {
    font-size: 30px;
    letter-spacing: 3px;
}


/* -------------------------1 страница-------------------------------*/
#teale_1 {
    top: -970px;
    text-align: center;
    font-size: 33px;
}

#text_1 {
    font-size: 25px;
    top: 60px;
}

#text_2 {
    top: -950px;
    font-size: 25px;
    text-align: center;
}

#snos_text {
    position: relative;
    top: 200px;
    font-size: 25px;
    text-align: center;
}

#innovazii {
    position: relative;
    top: 70px;
    left: 135px;
    font-family: 'Times New Roman';
    font-size: 35px;
}

#item {
    top: -220px;
    left: 540px;
}

#iznos {
    top: -895px;
    left: 965px;
}

#hobbys {
    top: -805px;
    left: 950px;
}

#teams {
    top: -1075px;
    left: 140px;
}
/* -------------------------1 страница-------------------------------*/


/* -------------------------2 страница-------------------------------*/
#teale1_2 {
    font-size: 50px;
    top: -445px;
    left: 20px;
    letter-spacing: 9px;
}

#teale2_2 {
    font-size: 35px;
    text-align: right;
    left: -10px;
    top: -270px;
}

#text1_2 {
    font-size: 25px;
    top: -350px;
}

#text2_2 {
    top: 80px;
    letter-spacing: 3px;
    font-size: 25px;
    text-align: center;
    left: 20px;
}

#text3_2 {
    text-align:left;
    top: 100px;
}

#text4_2 {
    text-align: right;
    left: -10px;
    top: -260px;
}

/* -------------------------2 страница-------------------------------*/


/* -------------------------3 страница-------------------------------*/
#teale1_3 {
    font-size: 35px;
    float: left;
    top: 20px;
}

#teale2_3 {
    font-size: 35px;
    top: -90px;
}

#teale3_3 {
    font-size: 35px;
    top: -350px;
    text-align: right;
    padding: 40px;
}

#text1_3 {
    letter-spacing: 3px;
}

#text2_3 {
    float: left;
    top: -350px;
    
}

#text3_3 {
    top: -130px;
    float: left;
}

#text4_3 {
    text-align: right;
    top: -370px;
    padding: 40px;
}
/* -------------------------3 страница-------------------------------*/


/* -------------------------4 страница-------------------------------*/
#teale1_4 {
    padding: 10px;
    text-align: left;
}

#teale2_4 {
    padding: 40px;
    text-align: right;
    letter-spacing: 3px;
    font-size: 35px;
    top: -270px;
}

#teale3_4 {
    padding: 20px;
    text-align: left;
    letter-spacing: 3px;
    font-size: 35px;
    top: -220px;
}

#teale4_4 {
    text-align: right;
    letter-spacing: 3px;
    font-size: 35px;
    left: 560px;
    top: -100px;
}

#text1_4 {
    letter-spacing: 3px;
    padding: 10px;
    text-align: left;
}

#text2_4 {
    letter-spacing: 2px;
    text-align: right;
    padding: 40px;
    line-height: 50px;
    top: -300px;
}

#text3_4 {
    letter-spacing: 3px;
    text-align: left;
    padding: 20px;
    top: -250px;
    line-height: 35px;
}

#text4_4 {
    height: 25px;
    letter-spacing: 3px;
    left: 560px;
    text-align: right;
    padding: 10px;
    top: -100px;
    line-height: 35px;
}
/* -------------------------4 страница-------------------------------*/


/* -------------------------5 страница-------------------------------*/
#teale1_5 {
    font-size: 35px;
    text-align: left;
    padding: -10px 0px 0px 10px;
}

#teale2_5 {
    font-size: 30px;
    text-align: right;
    padding: 20px;
}

#teale3_5 {
    font-size: 30px;
    text-align: center;
    padding: 20px;
    top: -400px;
}

#teale4_5 {
    font-size: 27px;
    text-align: center;
    top: -400px;
}

#text1_5 {
    line-height: 30px;
    text-align: left;
    padding: 0px 0px 0px 10px;
}

#text2_5 {
    text-align: center;
    left: 300px;
    line-height: 30px;
}

#text3_5 {
    text-align: right;
    line-height: 40px;
    padding: 20px;
    top: -30px;
}

#text4_5 {
    text-align: center;
    top: -420px;
    line-height: 30px;
}

#text5_5 {
    text-align: center;
    top: -400px;
    line-height: 40px;
    letter-spacing: 4px;
}
/* -------------------------5 страница-------------------------------*/


.main_text {
    font-size: 20px;
}

.img {
    position: relative;
    border-radius: 10px 40px 10px 40px;
    z-index: 5;
}


/* -------------------------1 страница-------------------------------*/
#Photo1 {
    float: right;
    margin-right: 20px;
    bottom: 690px;
}

#Photo2 {
    float: right;
    margin: 120px 160px 20px 10px;
    bottom: -80px;
}

#Photo3 {
    bottom: 220px;
    float: center;
    margin: -30px 0px 20px 470px;
}

#Photo4 {
    bottom: 895px;
    margin: -40px 0px 20px 845px;
    height: 200px;
}

#Photo5 {
    bottom: 805px;
    left: 840px;
    height: 170px;
}

#Photo6 {
    bottom: 1075px;
    left: 10px;
    height: 187px;
}
/* -------------------------1 страница-------------------------------*/


/* -------------------------2 страница-------------------------------*/
#Photo1_2 {
    height: 500px;
    left: 700px;
    top: -200px;
}

#Photo2_2 {
    height: 400px;
    top: -470px;
    left: 80px;
}

#Photo3_2 {
    height: 400px;
    top: -470px;
    left: 350px;
}

#Photo4_2 {
    height: 400px;
    left: 150px;
    top: -550px;
}

#Photo5_2 {
    height: 400px;
    top: -650px;
    left: 10px;
}

/* -------------------------2 страница-------------------------------*/


/* -------------------------3 страница-------------------------------*/
#Photo1_3 {
    height: 400px;
    float: right;
    top: -350px;
    padding: 20px;
}

#Photo2_3 {
    height: 400px;
    top: -260px;
    padding: 15px;
}

#Photo3_3 {
    height: 400px;
    top: -699px;
    float: right;
    padding: 15px;
}

#Photo4_3 {
    height: 350px;
    left: 420px;
    top: -500px;
}

#Photo5_3 {
    height: 450px;
    float: left;
    top: -850px;
    padding: 10px;
}
/* -------------------------3 страница-------------------------------*/


/* -------------------------4 страница-------------------------------*/
#Photo1_4 {
    height: 340px;
    float: right;
    top: -220px;
    padding: 10px
}

#Photo2_4 {
    height: 450px;
    float: left;
    padding: 20px;
}

#Photo3_4 {
    height: 400px;
    float: right;
    padding: 20px;
    top: -600px;
}

#Photo4_4 {
    height: 330px;
    float: left;
    padding: 10px;
    top: -265px;
}

#Photo5_4 {
    height: 330px;
    top: -230px;
    left: 100px;
}
/* -------------------------4 страница-------------------------------*/


/* -------------------------5 страница-------------------------------*/
#Photo1_5 {
    height: 270px;
    float: right;
    top: -260px;
    padding: 20px;
}

#Photo2_5 {
    height: 500px;
    padding: 10px;
    left: 30px;
}

#Photo3_5 {
    height: 400px;
    padding: 20px;
    top: -400px;
}

#Photo4_5 {
    height: 400px;
    left: 160px;
    top: -400px;
}
/* -------------------------5 страница-------------------------------*/


/*Футер-------------------------------------------------------------*/
.snos {
    position:relative;
    color: white;
    font-size: 20px;
    line-height: 100px;
    text-align: right;
    padding: 5px;
    padding-left: 20px;
    background-color: black;
    height: 100px;
    width:auto;
    margin-left: 35px;
    margin-right: 35px;
    border: 3px solid rgb(21, 21, 21);
    border-bottom: 3px solid rgb(21, 21, 21);
    border-radius: 50px 10px 50px 10px;
    bottom: -405px;
    z-index: 3;
}
#footer {
    text-align: center;
    font-size: 27px;
    font-style: italic;
    letter-spacing: 8px;
}